# Thêm pyinstaller để build binary
pyinstaller
alembic~=1.15.1
fastapi~=0.115.12
pydantic~=2.11.0
pydantic-settings~=2.8.1
SQLAlchemy[asyncio]~=2.0.40
psycopg[binary]~=3.2.9
uvicorn[standard]~=0.32.1
asyncpg>=0.29.0

python-dotenv~=1.1.0
python-jose[cryptography]~=3.3.0
passlib[bcrypt]~=1.7.4
email-validator~=2.1.0
python-multipart~=0.0.6
bcrypt~=4.0.1
qdrant-client>=1.9.0
sentence-transformers>=2.7.0
transformers>=4.51.0
torch
unstructured[all-docs]
python-magic-bin
python-docx
pypdf
langchain-text-splitters
unstructured-inference
pdf2image
pdfminer.six
mistralai<2.0.0
sentencepiece
scikit-learn
joblib
seaborn
matplotlib
rank-bm25
rapidfuzz